main {
  display: flex;
  justify-content: left;
  align-items: center;
}

.discover {
  font-family: 'Tourney', cursive;
  font-weight: 600;
  font-size: 40px;
  margin: 30px;
}

.games-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.game-image {
  width: 350px;
  height: 450px;
  margin: 20px 50px 50px 50px;
  box-shadow: rgb(0, 0, 0) 4px 4px 4px 4px;

}

.index-nav {
  background: linear-gradient(90deg, white 0%, rgba(0,212,255,1) 35%, rgb(17, 17, 182) 100%); 
  display: flex;
  justify-content: left;
  margin: 0;
  height: 35px;
  border-bottom: black 3px solid;
  font-size: 20px;
  text-decoration: none;
}

.index-nav a {
  text-decoration: none;
  margin: 4.5px 15px 0 15px;
  color: rgb(0, 0, 0);
  font-family: 'Hammersmith One', sans-serif;  
  font-weight: 600;
}

.index-nav a:hover {
  color: #ff0000;
}

.game-image:hover {
  box-shadow: rgb(184, 0, 0) 4px 4px 4px 4px;
}
