<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/games/new.css">
<%- include('../partials/nav') %>

<main>
  <h1 class="add-game-text">Add A New Game</h1>
    <form class="add-game-form" id="add-game-form" action="/games" method="POST" autocomplete="off">
      <div class="title-container">
        <label for="title-input" class="title-label">Game Title:</label>
        <input type="text" name="title" id="title-input" class="title-input" required>
      </div>
      <div class="description-container">
        <label for="description-input" class="description-label">Description:</label>
        <textarea type="text" name="description" id="description-input" class="description-input" oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"' required></textarea>
      </div>
      <div class="genre-container">
        <label for="genre-input" class="genre-label">Genre:</label>
        <select name="genre" id="genre-input" class="genre-select">
          <option value="Action">Action</option>
          <option value="Adventure">Adventure</option>
          <option value="RPG">RPG</option>
          <option value="Shooter">Shooter</option>
          <option value="Simulation">Simulation</option>
          <option value="Sports">Sports</option>
        </select>
      </div>
      <div class="image-url-container">
        <label for="image-url-input" class="image-url-label">Image URL:</label>
        <input type="text" name="imageUrl" id="image-url-input" class="image-url-input" required>
      </div>
      <button type="submit" class="form-submit-btn">Submit</button>
    </form>

</main>

<%- include('../partials/footer') %>
