main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-game-form {
  display: flex;
  flex-direction: column;
  width: 600px;
  border: 3px solid black;
  padding: 40px;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(182, 237, 255);
}

.title-container, .genre-container, .image-url-container {
  display: flex;
  width: 400px;
  justify-content: center;
  align-items: center;
  margin: 0 0 20px;
}
.description-container {
  display: flex;
  width: 400px;
  justify-content: center;
  align-items: flex-start;
  margin: 0 0 20px;
}

.title-label, .description-label, .genre-label, .image-url-label {
  font-size: 18px;
  width: 100px;
  text-align: left;
  margin-right: 20px;
}

.title-input, .description-input, .genre-input, .image-url-input {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  word-break: break-all;
  font-size: 14px;
  font-family: 'Hammersmith One', sans-serif;  

}

.genre-select {
  width: 200px;
  height: 21px;
  font-family: 'Hammersmith One', sans-serif; 
}

.description-input {
  min-height: 100px;
}

